{% extends "base.html" %}
{% block content %}
<div class="header">
            <div class="container">
                <h1 class="main-header">Поиск по перепискам Дубков</h1>
            </div>
    <div class="container">
        <p>Добро пожаловать в Dubky Browser!</p>
        <p>Здесь можно нбыстро найти много полезной информации из первых рук жителей студенческого городка "Дубки"</p>
        <a href="/search" class="main_button">Начать поиск</a>
        <h3 class="main_small_header">Описание</h3>
        <p>Корпус собран на основе переписок из <a href="https://web.telegram.org/a/#-1001278030013">Чата Дубков</a> с 2020 по 2021 год и содержит <b>1457</b> текстов сообщений</p>
        <p>Чтобы получить возможность сохранять понравившиеся сообщения, необходимо зарегестрироваться. Просмотреть сохраненные сообщения можно в
            <a href="/login">личном кабинете</a></p>
        <a href="/register" class="main_button">Зарегестрироваться</a>
        <h3 class="main_small_header">Инструкция</h3>
        <p>Чтобы осуществить поиск, введите запрос с поисковую строку, выберите метод поиска (<b>tf-idf</b> или <b>Word2Vec</b>). Опционально можно поменять количество получаемых результатов</p>
        <p>Вы можете Сохранить сообщения из выдачи, нажав символ <i class="fa-regular fa-heart"></i> справа от сообщения</p>
        <p>Удалить сообщения из сохраненных можно аналогично, нажав на символ <i class="fa-solid fa-heart"></i> справа от сообщения в личном кабинете</p>

    </div>
</div>

{% endblock %}
